# Database
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
# 15m for access token, 30d for refresh token, 365d for testing purposes
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=

# gmail SMTP
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=

# brevo
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=



$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=

# cloudinary
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=



#client
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=

$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=


# Resend (Newsletter)
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=

# MAILCHIMP (newsletter)
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=
$(System.Collections.Hashtable[1])=



